XML/Jonada_XSD.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="jornadas" type="tipo_jornadas" minOccurs ="1" maxOccurs="unbounded"/>
	
	<xs:complexType name="tipo_jornadas">
		<xs:sequence>
			<xs:element name="jornada" type="tipo_jornada"/>
		</xs:sequence>
		<xs:attribute name="cod" type="xs:integer"/>
		<xs:attribute name="fecha" type="xs:date"/>
	</xs:complexType>	
	
	<xs:complexType name="tipo_jornada">
		<xs:sequence>
			<xs:element name ="partidos" type="tipo_partidos" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tipo_partidos" >
		<xs:sequence>
			<xs:element name="partido" type="tipo_partido" minOccurs ="3" maxOccurs="3"/>
		</xs:sequence>
		<xs:attribute name="cod" type="xs:intger"/>
	</xs:complexType>	
		
	<xs:complexType name="tipo_partido">
		<xs:sequence>
			<xs:element name="equipoA" type="xs:string"/>
			<xs:element name="equipoB" type="xs:string"/>
			<xs:element name="puntuacionA" type="xs:integer"/>
			<xs:element name="puntuacionB" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>