XML/XSD_Jugadores_Equipo_Dueño.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="equipos" type="equiposType"/>
  <xs:complexType name="jugadorType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellido"/>
      <xs:element type="xs:string" name="nickname"/>
      <xs:element type="xs:string" name="sueldo"/>
      <xs:element type="xs:string" name="nacionalidad"/>
      <xs:element type="xs:string" name="estado"/>
      <xs:element type="xs:string" name="telefono"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="cod_jugador"/>
  </xs:complexType>
  <xs:complexType name="jugadoresType">
    <xs:sequence>
      <xs:element type="jugadorType" name="jugador"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="due単oType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellido"/>
      <xs:element type="xs:string" name="usuario"/>
      <xs:element type="xs:string" name="contrase単a"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="cod_cuenta"/>
  </xs:complexType>
  <xs:complexType name="equipoType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="nacionalidad"/>
      <xs:element type="xs:string" name="presupuesto"/>
      <xs:element type="xs:string" name="puntuacion"/>
      <xs:element type="jugadoresType" name="jugadores"/>
      <xs:element type="due単oType" name="due単o"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="cod_equipo"/>
  </xs:complexType>
  <xs:complexType name="equiposType">
    <xs:sequence>
      <xs:element type="equipoType" name="equipo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>