XML/XSDclasificacion.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="liga" type="liga"/>
        <xs:complexType>
            <xs:sequence>
            <xs:element name="equipo" type="equipo"/>                
            </xs:sequence>
        </xs:complexType>
    <xs:element name="equipo" type="equipo"/>
        <xs:complexType>
            <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>        
            <xs:element name="puntos" type="xs:string"/>         
            </xs:sequence>
        </xs:complexType>
</xs:schema>